[Unit]
Description=Execute cloud user/final scripts
After=network-online.target cloud-config.service rc-local.service multi-user.target etc-ssh.mount etc-network-interfaces.d.mount home-root-.ssh.mount
Requires=etc-ssh.mount etc-network-interfaces.d.mount home-root-.ssh.mount
Wants=network-online.target cloud-config.service

[Service]
Type=oneshot
ExecStart=/usr/bin/cloud-init modules --mode=final
RemainAfterExit=yes
TimeoutSec=0
KillMode=process

# Output needs to appear in instance console output
StandardOutput=journal+console

[Install]
WantedBy=cloud-init.target
